<div class="eat_think_move">
  <div class="block">
    <strong>Eat</strong>
    well
    <div class="logo_naturally"></div>
  </div>
  <div class="block">
    <strong>Think</strong>
    well
    <div class="logo_naturally"></div>
  </div>
  <div class="block">
    <strong>Move</strong>
    well
    <div class="logo_naturally"></div>
  </div>
  <div class="green">A holistic guide to a healthy lifestyle … naturally</div>
</div>
<h1 class="green naturally"> My 5 Naturally </h1>
