<% if @blog_posts.many? %>
  <h2 class="red"><%= t('.other') %></h2>
  <ul id="blog_posts" class="categories_list">
    <% @blog_posts.each do |blog_post| %>
      <li class='item'>
        <%= link_to blog_post.title, blog_post_url(blog_post) %>
      </li>
    <% end %>
  </ul>
<% end %>
