/* line 5, ../../../app/stylesheets/pages/contact_us.sass */
.contact_form {
  border: 6px solid PaleTurquoise;
  padding: 15px;
  margin-right: 20px;
}
/* line 10, ../../../app/stylesheets/pages/contact_us.sass */
.contact_form form li {
  clear: none;
}
/* line 12, ../../../app/stylesheets/pages/contact_us.sass */
.contact_form form .label_emloyees {
  float: left;
  margin-left: 20px;
}
/* line 15, ../../../app/stylesheets/pages/contact_us.sass */
.contact_form form #contact_comments {
  margin-left: 15px;
}
/* line 17, ../../../app/stylesheets/pages/contact_us.sass */
.contact_form form #email_submit {
  padding: 5px;
  border-width: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00ccff), color-stop(100%, #00ccff));
  background: -webkit-linear-gradient(#00ccff, #00ccff);
  background: -moz-linear-gradient(#00ccff, #00ccff);
  background: -o-linear-gradient(#00ccff, #00ccff);
  background: -ms-linear-gradient(#00ccff, #00ccff);
  background: linear-gradient(#00ccff, #00ccff);
  border-color: #00ccff;
}
/* line 22, ../../../app/stylesheets/pages/contact_us.sass */
.contact_form form .center_alignment {
  text-align: center;
}
/* line 24, ../../../app/stylesheets/pages/contact_us.sass */
.contact_form form .choice {
  margin-left: 0;
}
/* line 26, ../../../app/stylesheets/pages/contact_us.sass */
.contact_form form #captcha {
  margin-left: 0;
}

/* line 29, ../../../app/stylesheets/pages/contact_us.sass */
.container {
  margin-left: 20px;
}

/* line 32, ../../../app/stylesheets/pages/contact_us.sass */
.blue {
  color: #00ccff;
}

/* line 35, ../../../app/stylesheets/pages/contact_us.sass */
.title {
  font-size: 14pt;
  line-height: 24px;
}

/* line 39, ../../../app/stylesheets/pages/contact_us.sass */
.image {
  float: left;
  width: 288px;
  background: url("/images/pages/home/wellbeing.jpg") no-repeat;
  height: 175px;
}

/* line 45, ../../../app/stylesheets/pages/contact_us.sass */
.key_benefits {
  float: left;
  width: auto;
  margin-left: 20px;
}
/* line 49, ../../../app/stylesheets/pages/contact_us.sass */
.key_benefits ul {
  margin-left: -15px;
}
