/* line 5, ../../../app/stylesheets/pages/contact_us.sass */
#contact_form {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;
  margin-left: 0;
}
/* line 8, ../../../app/stylesheets/pages/contact_us.sass */
#contact_form li {
  clear: both;
  list-style: none;
}
/* line 11, ../../../app/stylesheets/pages/contact_us.sass */
#contact_form li label {
  display: block;
}
/* line 13, ../../../app/stylesheets/pages/contact_us.sass */
#contact_form li label abbr {
  color: #b00000;
  margin-left: 5px;
}
/* line 17, ../../../app/stylesheets/pages/contact_us.sass */
#contact_form li input, #contact_form li textarea {
  margin-left: 5px;
  width: 90% !important;
  display: block;
  clear: both;
}
/* line 23, ../../../app/stylesheets/pages/contact_us.sass */
#contact_form li textarea {
  height: 200px;
}
/* line 25, ../../../app/stylesheets/pages/contact_us.sass */
#contact_form li p.error {
  float: right;
  color: #b00000;
  margin: 4px 5% 0 0;
}
/* line 30, ../../../app/stylesheets/pages/contact_us.sass */
#contact_form #email_base_input p.error {
  float: left !important;
}
/* line 32, ../../../app/stylesheets/pages/contact_us.sass */
#contact_form input[type="submit"], #contact_form .button {
  width: 80px;
  text-align: center;
  margin-top: 15px;
  margin-right: 5%;
  clear: both !important;
  float: right !important;
}

/* line 40, ../../../app/stylesheets/pages/contact_us.sass */
#contact_details {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  margin-right: 0;
}
/* line 44, ../../../app/stylesheets/pages/contact_us.sass */
#contact_details #address, #contact_details #telephone {
  margin-bottom: 15px;
}
/* line 47, ../../../app/stylesheets/pages/contact_us.sass */
#contact_details #address p, #contact_details #telephone p {
  margin: 0 0 2px;
}
