/* line 14, ../../../../app/stylesheets/my5/blog/blog.sass */
.orange {
  color: #dc8c23;
}

/* line 17, ../../../../app/stylesheets/my5/blog/blog.sass */
.red {
  color: #c92b1e;
}

/* line 20, ../../../../app/stylesheets/my5/blog/blog.sass */
.gray {
  color: #9ea0a3;
}

/* line 23, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index, .content#show, .content#search, .content#archive {
  position: relative;
  padding: 37px;
  background: white url("/images/blog/blog_bg.jpg") no-repeat 50% 90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 28, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index .colored_border, .content#show .colored_border, .content#search .colored_border, .content#archive .colored_border {
  height: 11px;
  position: absolute;
  top: -11px;
  left: 0;
  width: 100%;
  background: white url("/images/coloured_bars.png") repeat-x;
}
/* line 35, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content, .content#show #body_content, .content#search #body_content, .content#archive #body_content {
  min-height: 860px;
  padding-left: 190px;
  background: url("/images/blog/sidebar_bg.jpg") no-repeat 0 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 40, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_left, .content#show #body_content_left, .content#search #body_content_left, .content#archive #body_content_left {
  width: 495px;
  float: left;
  border-right: 1px solid #b0b1b3;
}
/* line 44, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_left #blog_post, .content#show #body_content_left #blog_post, .content#search #body_content_left #blog_post, .content#archive #body_content_left #blog_post {
  padding: 0 30px 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #b0b1b3;
}
/* line 49, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_left #blog_post table td, .content#show #body_content_left #blog_post table td, .content#search #body_content_left #blog_post table td, .content#archive #body_content_left #blog_post table td {
  border: 1px solid #d3d3d3;
  padding: 5px;
  text-align: center;
}
/* line 54, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_right, .content#show #body_content_right, .content#search #body_content_right, .content#archive #body_content_right {
  width: 180px;
  float: left;
  border-left: 1px solid #b0b1b3;
  margin-left: -1px;
}
/* line 59, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_right .sidebar_section_wrap, .content#show #body_content_right .sidebar_section_wrap, .content#search #body_content_right .sidebar_section_wrap, .content#archive #body_content_right .sidebar_section_wrap {
  padding: 30px 10px 30px 30px;
  border-bottom: 1px solid #b0b1b3;
}
/* line 62, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_right .sidebar_section_wrap.logo, .content#show #body_content_right .sidebar_section_wrap.logo, .content#search #body_content_right .sidebar_section_wrap.logo, .content#archive #body_content_right .sidebar_section_wrap.logo {
  padding: 0 10px;
}
/* line 64, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_right .sidebar_section_wrap h2, .content#show #body_content_right .sidebar_section_wrap h2, .content#search #body_content_right .sidebar_section_wrap h2, .content#archive #body_content_right .sidebar_section_wrap h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin: 0 0 10px;
}
/* line 69, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index .comment_button, .content#show .comment_button, .content#search .comment_button, .content#archive .comment_button {
  float: left;
  cursor: pointer;
}
/* line 72, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index .comment_button .comment_icon, .content#show .comment_button .comment_icon, .content#search .comment_button .comment_icon, .content#archive .comment_button .comment_icon {
  float: left;
  height: 25px;
  width: 26px;
  background: url("/images/blog/comment.png");
}
/* line 77, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index .comment_button .comment_counter, .content#show .comment_button .comment_counter, .content#search .comment_button .comment_counter, .content#archive .comment_button .comment_counter {
  float: left;
  margin-left: 5px;
}
/* line 81, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index .print_button, .content#show .print_button, .content#search .print_button, .content#archive .print_button {
  float: left;
  margin-left: 22px;
  cursor: pointer;
}
/* line 85, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index .print_button .print_icon, .content#show .print_button .print_icon, .content#search .print_button .print_icon, .content#archive .print_button .print_icon {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  height: 14px;
  width: 16px;
  background: url("/images/blog/print.png") no-repeat 0 0;
}
/* line 92, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index .print_button .print_link, .content#show .print_button .print_link, .content#search .print_button .print_link, .content#archive .print_button .print_link {
  float: left;
  margin-left: 11px;
}

/* line 98, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post .details {
  display: none;
}
/* line 100, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post .link_more {
  text-transform: uppercase;
  color: #3a9b2e;
}
/* line 103, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post .link_more > a {
  color: #3a9b2e;
}
/* line 105, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post .link_more:before {
  content: "|";
  margin-right: 4px;
}
/* line 108, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post .comment_count {
  display: none;
}
/* line 110, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post h1 {
  font-size: 21px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
  line-height: 130%;
  color: #3a9b2e;
  margin: 0 0 16px;
}
/* line 118, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post h1 > a {
  color: #3a9b2e;
}
/* line 120, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post em {
  font-style: italic;
}
/* line 122, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post strong {
  font-weight: bold;
}
/* line 124, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post .post_description {
  overflow: hidden;
}
/* line 126, ../../../../app/stylesheets/my5/blog/blog.sass */
#blog_post .post_description p {
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  line-height: 150%;
  color: #333333;
  margin-top: 0;
  margin-bottom: 16px;
}

/* line 135, ../../../../app/stylesheets/my5/blog/blog.sass */
.search_form {
  position: relative;
  padding: 8px 20px;
  border-bottom: 1px solid #b0b1b3;
}
/* line 139, ../../../../app/stylesheets/my5/blog/blog.sass */
.search_form .search_input {
  font-size: 11px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
  width: 114px;
  height: 25px;
  padding: 0 5px;
  background: #ebebeb;
  border: 1px solid #9ea0a3;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 151, ../../../../app/stylesheets/my5/blog/blog.sass */
.search_form .search_button {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 6px;
  background: #ec1c24;
  border-radius: 8px;
  padding: 5px 5px 7px;
  border: 0;
  cursor: pointer;
}

/* line 166, ../../../../app/stylesheets/my5/blog/blog.sass */
#categories .item:hover {
  color: #dc8c23;
}
/* line 168, ../../../../app/stylesheets/my5/blog/blog.sass */
#categories .item:hover > a {
  color: #dc8c23;
}

/* line 173, ../../../../app/stylesheets/my5/blog/blog.sass */
#recent_articles .item:hover {
  color: #c92b1e;
}
/* line 175, ../../../../app/stylesheets/my5/blog/blog.sass */
#recent_articles .item:hover > a {
  color: #c92b1e;
}

/* line 179, ../../../../app/stylesheets/my5/blog/blog.sass */
#archived_posts .item {
  cursor: pointer;
}
/* line 181, ../../../../app/stylesheets/my5/blog/blog.sass */
#archived_posts .item:hover {
  color: #9ea0a3;
}
/* line 183, ../../../../app/stylesheets/my5/blog/blog.sass */
#archived_posts .item:hover > a {
  color: #9ea0a3;
}

/* line 186, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
/* line 189, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .active {
  color: #c92b1e;
}
/* line 191, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .active > a {
  color: #c92b1e;
}
/* line 193, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .item {
  list-style: none;
  margin-left: 0;
}
/* line 196, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .subcat {
  list-style: none;
  padding-left: 30px;
  font-size: 12px;
}
/* line 200, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .subcat .item {
  position: relative;
  line-height: 120%;
  margin-bottom: 5px;
}
/* line 204, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .subcat .item:before {
  content: "|";
  position: absolute;
  left: -6px;
}

/* line 209, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_title {
  margin-left: 28px;
  color: #3a9b2e;
}
