/* line 14, ../../../../app/stylesheets/my5/blog/blog.sass */
.orange {
  color: #dc8c23;
}

/* line 17, ../../../../app/stylesheets/my5/blog/blog.sass */
.red {
  color: #c92b1e;
}

/* line 20, ../../../../app/stylesheets/my5/blog/blog.sass */
.gray {
  color: #9ea0a3;
}

/* line 23, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index, .content#show, .content#search, .content#archive {
  position: relative;
  padding: 37px;
  background: white url("/images/blog/blog_bg.jpg") no-repeat 50% 90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 28, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index .colored_border, .content#show .colored_border, .content#search .colored_border, .content#archive .colored_border {
  height: 11px;
  position: absolute;
  top: -11px;
  left: 0;
  width: 100%;
  background: white url("/images/coloured_bars.png") repeat-x;
}
/* line 35, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content, .content#show #body_content, .content#search #body_content, .content#archive #body_content {
  padding-left: 190px;
  background: url("/images/blog/sidebar_bg.jpg") no-repeat 0 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 39, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_left, .content#show #body_content_left, .content#search #body_content_left, .content#archive #body_content_left {
  width: 495px;
  float: left;
  border-right: 1px solid #b0b1b3;
}
/* line 43, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_left .blog_post, .content#show #body_content_left .blog_post, .content#search #body_content_left .blog_post, .content#archive #body_content_left .blog_post {
  padding: 0 30px 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #b0b1b3;
}
/* line 47, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_right, .content#show #body_content_right, .content#search #body_content_right, .content#archive #body_content_right {
  width: 180px;
  float: left;
  border-left: 1px solid #b0b1b3;
  margin-left: -1px;
}
/* line 52, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_right .sidebar_section_wrap, .content#show #body_content_right .sidebar_section_wrap, .content#search #body_content_right .sidebar_section_wrap, .content#archive #body_content_right .sidebar_section_wrap {
  padding: 30px 10px 30px 30px;
  border-bottom: 1px solid #b0b1b3;
}
/* line 55, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_right .sidebar_section_wrap.logo, .content#show #body_content_right .sidebar_section_wrap.logo, .content#search #body_content_right .sidebar_section_wrap.logo, .content#archive #body_content_right .sidebar_section_wrap.logo {
  padding: 0 10px;
}
/* line 57, ../../../../app/stylesheets/my5/blog/blog.sass */
.content#index #body_content_right .sidebar_section_wrap h2, .content#show #body_content_right .sidebar_section_wrap h2, .content#search #body_content_right .sidebar_section_wrap h2, .content#archive #body_content_right .sidebar_section_wrap h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin: 0 0 10px;
}

/* line 64, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_post .details {
  display: none;
}
/* line 66, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_post .link_more {
  text-transform: uppercase;
  color: #3a9b2e;
}
/* line 69, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_post .link_more > a {
  color: #3a9b2e;
}
/* line 71, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_post .link_more:before {
  content: "|";
  margin-right: 4px;
}
/* line 74, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_post .comment_count {
  display: none;
}
/* line 76, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_post h1 {
  font-size: 21px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
  line-height: 130%;
  color: #3a9b2e;
  margin: 0 0 16px;
}
/* line 84, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_post h1 > a {
  color: #3a9b2e;
}
/* line 86, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_post .post_description {
  overflow: hidden;
}
/* line 88, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_post .post_description p {
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  line-height: 150%;
  color: #333333;
  margin-top: 0;
  margin-bottom: 16px;
}

/* line 97, ../../../../app/stylesheets/my5/blog/blog.sass */
.search_form {
  position: relative;
  padding: 8px 20px;
  border-bottom: 1px solid #b0b1b3;
}
/* line 101, ../../../../app/stylesheets/my5/blog/blog.sass */
.search_form .search_input {
  font-size: 11px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
  width: 114px;
  height: 25px;
  padding: 0 5px;
  background: #ebebeb;
  border: 1px solid #9ea0a3;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 113, ../../../../app/stylesheets/my5/blog/blog.sass */
.search_form .search_button {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 6px;
  background: #ec1c24;
  border-radius: 8px;
  padding: 5px 5px 7px;
  border: 0;
  cursor: pointer;
}

/* line 128, ../../../../app/stylesheets/my5/blog/blog.sass */
#categories .item:hover {
  color: #dc8c23;
}
/* line 130, ../../../../app/stylesheets/my5/blog/blog.sass */
#categories .item:hover > a {
  color: #dc8c23;
}

/* line 135, ../../../../app/stylesheets/my5/blog/blog.sass */
#recent_articles .item:hover {
  color: #c92b1e;
}
/* line 137, ../../../../app/stylesheets/my5/blog/blog.sass */
#recent_articles .item:hover > a {
  color: #c92b1e;
}

/* line 141, ../../../../app/stylesheets/my5/blog/blog.sass */
#archived_posts .item {
  cursor: pointer;
}
/* line 143, ../../../../app/stylesheets/my5/blog/blog.sass */
#archived_posts .item:hover {
  color: #9ea0a3;
}
/* line 145, ../../../../app/stylesheets/my5/blog/blog.sass */
#archived_posts .item:hover > a {
  color: #9ea0a3;
}

/* line 148, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
/* line 151, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .active {
  color: #c92b1e;
}
/* line 153, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .active > a {
  color: #c92b1e;
}
/* line 155, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .item {
  list-style: none;
  margin-left: 0;
}
/* line 158, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .subcat {
  list-style: none;
  padding-left: 30px;
  font-size: 12px;
}
/* line 162, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .subcat .item {
  position: relative;
  line-height: 120%;
  margin-bottom: 5px;
}
/* line 166, ../../../../app/stylesheets/my5/blog/blog.sass */
.categories_list .subcat .item:before {
  content: "|";
  position: absolute;
  left: -6px;
}

/* line 171, ../../../../app/stylesheets/my5/blog/blog.sass */
.blog_title {
  margin-left: 28px;
  color: #3a9b2e;
}
