/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, button, input[type="submit"], .button, button.danger, input[type="submit"].danger, .button.danger {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1377094858') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, .button::-moz-focus-inner, button.danger::-moz-focus-inner, input[type="submit"].danger::-moz-focus-inner, .button.danger::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, button:focus, input[type="submit"]:focus, .button:focus, button.danger:focus, input[type="submit"].danger:focus, .button.danger:focus {
  outline: none;
}

/* line 3, ../../app/stylesheets/shared/header.sass */
#header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  height: 80px;
  line-height: 70px;
}
/* line 7, ../../app/stylesheets/shared/header.sass */
#header a {
  color: white;
  font-weight: bold;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header a:visited {
  color: white;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header a:focus {
  color: white;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header a:hover {
  color: white;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header a:active {
  color: white;
}
/* line 10, ../../app/stylesheets/shared/header.sass */
#header #logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
  margin-left: 0;
}
/* line 13, ../../app/stylesheets/shared/header.sass */
#header #logo img {
  vertical-align: middle;
}
/* line 15, ../../app/stylesheets/shared/header.sass */
#header .nav {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
}
/* line 17, ../../app/stylesheets/shared/header.sass */
#header .nav a {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 30px !important;
  margin: 0 !important;
  padding: 0 !important;
}
/* line 24, ../../app/stylesheets/shared/header.sass */
#header .nav#signup {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-right: 0;
}
/* line 27, ../../app/stylesheets/shared/header.sass */
#header .nav#signup a {
  width: 100%;
  float: right;
}
/* line 30, ../../app/stylesheets/shared/header.sass */
#header .nav#signup a.button {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  font-family: Helvetica;
}

/* line 36, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu {
  float: left;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  height: 37px;
  position: relative;
  vertical-align: middle;
}

/* line 47, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul {
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 54, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul li {
  display: inline;
  float: left;
  margin-left: 1px;
  padding-right: 5px;
  position: relative;
}

/* line 62, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul li a {
  color: white;
  border-right: 1px solid #777788;
  text-decoration: none;
  height: auto !important;
  border: none;
  font-size: 14px !important;
  padding: 10px !important;
}

/* line 74, ../../app/stylesheets/shared/header.sass */
* html .ddsmoothmenu ul li a {
  display: inline-block;
}

/* line 78, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited {
  color: white;
}

/* line 82, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul li a.selected {
  background: #cf6000;
  color: white;
}

/* line 87, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul li ul li a.hover {
  background: #cf6000;
  color: white;
}

/* line 91, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul li ul {
  position: absolute;
  left: 0;
  display: none;
  visibility: hidden;
  list-style-type: none !important;
}

/* line 98, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul li ul li {
  display: list-item;
  float: none;
  list-style: none !important;
}

/* line 103, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul li ul li ul {
  top: 0;
}

/* line 106, ../../app/stylesheets/shared/header.sass */
.ddsmoothmenu ul li ul li a {
  font: normal 13px Verdana;
  width: 100%;
  position: relative;
  margin: 0;
  border-top-width: 0;
  border-bottom: 1px solid gray;
  font-size: 12px !important;
  padding: 10px !important;
}

/* line 116, ../../app/stylesheets/shared/header.sass */
* html .ddsmoothmenu {
  height: 1%;
}

/* line 120, ../../app/stylesheets/shared/header.sass */
.downarrowclass {
  position: absolute;
  top: 12px;
  right: 7px;
}

/* line 126, ../../app/stylesheets/shared/header.sass */
.rightarrowclass {
  position: absolute;
  top: 6px;
  right: 5px;
}

/* line 132, ../../app/stylesheets/shared/header.sass */
.ddshadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background: silver;
}

/* line 141, ../../app/stylesheets/shared/header.sass */
.toplevelshadow {
  opacity: 0.8;
}

/* line 3, ../../app/stylesheets/shared/footer.sass */
#footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  background: white;
  padding-top: 40px;
  padding-bottom: 20px;
}
/* line 8, ../../app/stylesheets/shared/footer.sass */
#footer nav {
  border-top: 1px solid #cccccc;
}
/* line 10, ../../app/stylesheets/shared/footer.sass */
#footer ul {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}
/* line 11, ../../app/stylesheets/shared/footer.sass */
#footer ul li {
  list-style: none !important;
  margin-left: 0;
}
/* line 15, ../../app/stylesheets/shared/footer.sass */
#footer ul li.double-line {
  line-height: 18px;
}
/* line 18, ../../app/stylesheets/shared/footer.sass */
#footer ul.first, #footer ul.last {
  width: 120px;
}
/* line 20, ../../app/stylesheets/shared/footer.sass */
#footer ul.titles {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  line-height: 34px;
}
/* line 27, ../../app/stylesheets/shared/footer.sass */
#footer ul.titles li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}
/* line 29, ../../app/stylesheets/shared/footer.sass */
#footer ul.titles li.first, #footer ul.titles li.last {
  width: 120px;
}
/* line 31, ../../app/stylesheets/shared/footer.sass */
#footer #line {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 740px;
  margin-top: 25px;
  border-top: 1px solid #cccccc;
}
/* line 35, ../../app/stylesheets/shared/footer.sass */
#footer #logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  padding-left: 40px;
  margin-right: 0;
}

/* line 12, ../../app/stylesheets/shared/flashes.sass */
.notices {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 780px;
  margin-left: 0;
  margin-right: 0;
  width: 95% !important;
  margin: 10px 2.5%;
  position: relative;
  background: white;
}

/* line 22, ../../app/stylesheets/shared/flashes.sass */
.content .notices {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

/* line 28, ../../app/stylesheets/shared/flashes.sass */
body .notice {
  width: 95% !important;
  margin: 0;
  padding: 0 2.5%;
  border: 1px solid #6cd06c;
  background-color: #e0f5e0;
  color: #287b28;
  font-size: 10pt;
}
/* line 30, ../../app/stylesheets/shared/flashes.sass */
body .alert {
  width: 95% !important;
  margin: 0;
  padding: 0 2.5%;
  border: 1px solid yellow;
  background-color: #ffff99;
  color: #666600;
  font-size: 10pt;
}

/* line 4, ../../app/stylesheets/shared/forms.sass */
form label {
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 40px;
}
/* line 10, ../../app/stylesheets/shared/forms.sass */
form label.double-line {
  line-height: 20px;
}
/* line 12, ../../app/stylesheets/shared/forms.sass */
form input, form textarea, form select {
  padding: 8px 8px;
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 18, ../../app/stylesheets/shared/forms.sass */
form input:focus, form textarea:focus, form select:focus {
  outline: none;
  border-color: #109900;
  -moz-box-shadow: #6ffc5f 0px 0px 5px;
  -webkit-box-shadow: #6ffc5f 0px 0px 5px;
  -o-box-shadow: #6ffc5f 0px 0px 5px;
  box-shadow: #6ffc5f 0px 0px 5px;
}
/* line 22, ../../app/stylesheets/shared/forms.sass */
form select {
  height: 34px;
}
/* line 25, ../../app/stylesheets/shared/forms.sass */
form label abbr {
  color: #c94338;
  margin: 0 5px;
}
/* line 28, ../../app/stylesheets/shared/forms.sass */
form li {
  clear: both;
  margin-bottom: 10px;
}
/* line 29, ../../app/stylesheets/shared/forms.sass */
form li.left {
  float: left;
  margin-right: 25px;
}
/* line 36, ../../app/stylesheets/shared/forms.sass */
form li label {
  width: 180px;
  float: left;
}
/* line 39, ../../app/stylesheets/shared/forms.sass */
form li label.double-line {
  line-height: 20px;
}
/* line 41, ../../app/stylesheets/shared/forms.sass */
form li input, form li select {
  margin-left: 15px;
  width: 50%;
}
/* line 45, ../../app/stylesheets/shared/forms.sass */
form li select.short {
  width: 100px !important;
}
/* line 47, ../../app/stylesheets/shared/forms.sass */
form li input.short {
  width: 88px !important;
}
/* line 49, ../../app/stylesheets/shared/forms.sass */
form li select.medium {
  width: 200px !important;
}
/* line 51, ../../app/stylesheets/shared/forms.sass */
form li input.medium {
  width: 182px !important;
}
/* line 53, ../../app/stylesheets/shared/forms.sass */
form li input[type="checkbox"] {
  width: 20px;
  margin-top: 10px;
}
/* line 57, ../../app/stylesheets/shared/forms.sass */
form li .inline-hints {
  color: #bbbbbb;
  margin-left: 200px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 63, ../../app/stylesheets/shared/forms.sass */
form li .inline-errors {
  color: #c94338;
  margin-left: 200px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 69, ../../app/stylesheets/shared/forms.sass */
form li.error {
  background: #ea9b95;
  padding: 5px 0 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
}
/* line 76, ../../app/stylesheets/shared/forms.sass */
form li.error .inline-hints {
  color: #3e3e3e !important;
}
/* line 78, ../../app/stylesheets/shared/forms.sass */
form .avatar_section {
  clear: both;
  height: 180px;
}
/* line 81, ../../app/stylesheets/shared/forms.sass */
form .avatar_section .img {
  width: 150px;
  height: 150px;
  float: left;
  margin-top: 10px;
}
/* line 87, ../../app/stylesheets/shared/forms.sass */
form .avatar_section label, form .avatar_section input {
  left: 120px;
  display: inline-block;
  clear: none;
  margin-left: 48px;
}
/* line 93, ../../app/stylesheets/shared/forms.sass */
form .avatar_section input[type="text"] {
  padding-left: 5px;
}
/* line 96, ../../app/stylesheets/shared/forms.sass */
form .avatar_section input[type="submit"] {
  margin-top: 15px;
}
/* line 101, ../../app/stylesheets/shared/forms.sass */
form .actions {
  clear: both;
  margin-top: 25px;
}
/* line 105, ../../app/stylesheets/shared/forms.sass */
form .actions a, form .actions input[type="submit"] {
  float: left;
  margin-right: 10px;
}
/* line 109, ../../app/stylesheets/shared/forms.sass */
form .actions a {
  line-height: 35px;
}

/* line 20, ../../app/stylesheets/common.sass */
body {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #545454;
  line-height: 24px;
  background: url("/images/beach_big.jpg") no-repeat;
  background-size: 100%;
}

/* line 28, ../../app/stylesheets/common.sass */
a {
  text-decoration: none;
  color: #545454;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #545454;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #545454;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #545454;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #545454;
}

/* line 31, ../../app/stylesheets/common.sass */
b {
  font-weight: bold;
}

/* line 33, ../../app/stylesheets/common.sass */
h1 {
  font-size: 40px;
  line-height: 50px;
  margin: 20px 0;
}

/* line 37, ../../app/stylesheets/common.sass */
h2 {
  font-size: 28px;
  line-height: 38px;
  margin: 20px 0;
  clear: both;
}

/* line 42, ../../app/stylesheets/common.sass */
h3 {
  font-size: 24px;
  line-height: 34px;
  margin: 20px 0;
}

/* line 46, ../../app/stylesheets/common.sass */
p {
  margin: 20px 0;
}

/* line 49, ../../app/stylesheets/common.sass */
ul li {
  list-style: circle;
  margin-left: 15px;
}

/* line 53, ../../app/stylesheets/common.sass */
ol {
  padding-left: 10px;
}
/* line 56, ../../app/stylesheets/common.sass */
ol li {
  list-style: decimal;
  margin-left: 15px;
}

/* line 61, ../../app/stylesheets/common.sass */
form li {
  list-style: none;
}

/* line 63, ../../app/stylesheets/common.sass */
button, input[type="submit"], .button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #109900;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #18e600), color-stop(100%, #0d7a00));
  background-image: -webkit-linear-gradient(#18e600, #0d7a00);
  background-image: -moz-linear-gradient(#18e600, #0d7a00);
  background-image: -o-linear-gradient(#18e600, #0d7a00);
  background-image: -ms-linear-gradient(#18e600, #0d7a00);
  background-image: linear-gradient(#18e600, #0d7a00);
  border-color: #084d00;
  text-shadow: #031a00 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.3) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button, button:visited, input[type="submit"], input[type="submit"]:visited, .button, .button:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus, .button:hover, .button:focus {
  background-color: #0e8a00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #16d600), color-stop(100%, #0b6b00));
  background-image: -webkit-linear-gradient(#16d600, #0b6b00);
  background-image: -moz-linear-gradient(#16d600, #0b6b00);
  background-image: -o-linear-gradient(#16d600, #0b6b00);
  background-image: -ms-linear-gradient(#16d600, #0b6b00);
  background-image: linear-gradient(#16d600, #0b6b00);
  border-color: #063d00;
  text-shadow: #010a00 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:hover:visited, button:focus, button:focus:visited, input[type="submit"]:hover, input[type="submit"]:hover:visited, input[type="submit"]:focus, input[type="submit"]:focus:visited, .button:hover, .button:hover:visited, .button:focus, .button:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button:active, input[type="submit"]:active, .button:active {
  background-color: #0d7a00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0c7500), color-stop(40%, #0e8500), color-stop(85%, #0e8500), color-stop(100%, #12a800));
  background-image: -webkit-linear-gradient(#0c7500, #0e8500 40%, #0e8500 85%, #12a800);
  background-image: -moz-linear-gradient(#0c7500, #0e8500 40%, #0e8500 85%, #12a800);
  background-image: -o-linear-gradient(#0c7500, #0e8500 40%, #0e8500 85%, #12a800);
  background-image: -ms-linear-gradient(#0c7500, #0e8500 40%, #0e8500 85%, #12a800);
  background-image: linear-gradient(#0c7500, #0e8500 40%, #0e8500 85%, #12a800);
  border-color: #052e00;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #084d00 0 0.08em 0.2em 1px inset;
  -webkit-box-shadow: #084d00 0 0.08em 0.2em 1px inset;
  -o-box-shadow: #084d00 0 0.08em 0.2em 1px inset;
  box-shadow: #084d00 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button:active, button:active:visited, input[type="submit"]:active, input[type="submit"]:active:visited, .button:active, .button:active:visited {
  color: white;
}
/* line 66, ../../app/stylesheets/common.sass */
button.danger, input[type="submit"].danger, .button.danger {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: red;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff4d4d), color-stop(100%, #e00000));
  background-image: -webkit-linear-gradient(#ff4d4d, #e00000);
  background-image: -moz-linear-gradient(#ff4d4d, #e00000);
  background-image: -o-linear-gradient(#ff4d4d, #e00000);
  background-image: -ms-linear-gradient(#ff4d4d, #e00000);
  background-image: linear-gradient(#ff4d4d, #e00000);
  border-color: #b30000;
  text-shadow: maroon 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button.danger, button.danger:visited, input[type="submit"].danger, input[type="submit"].danger:visited, .button.danger, .button.danger:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button.danger:hover, button.danger:focus, input[type="submit"].danger:hover, input[type="submit"].danger:focus, .button.danger:hover, .button.danger:focus {
  background-color: #f00000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3d3d), color-stop(100%, #d10000));
  background-image: -webkit-linear-gradient(#ff3d3d, #d10000);
  background-image: -moz-linear-gradient(#ff3d3d, #d10000);
  background-image: -o-linear-gradient(#ff3d3d, #d10000);
  background-image: -ms-linear-gradient(#ff3d3d, #d10000);
  background-image: linear-gradient(#ff3d3d, #d10000);
  border-color: #a30000;
  text-shadow: #700000 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button.danger:hover, button.danger:hover:visited, button.danger:focus, button.danger:focus:visited, input[type="submit"].danger:hover, input[type="submit"].danger:hover:visited, input[type="submit"].danger:focus, input[type="submit"].danger:focus:visited, .button.danger:hover, .button.danger:hover:visited, .button.danger:focus, .button.danger:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button.danger:active, input[type="submit"].danger:active, .button.danger:active {
  background-color: #e00000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #db0000), color-stop(40%, #eb0000), color-stop(85%, #eb0000), color-stop(100%, #ff0f0f));
  background-image: -webkit-linear-gradient(#db0000, #eb0000 40%, #eb0000 85%, #ff0f0f);
  background-image: -moz-linear-gradient(#db0000, #eb0000 40%, #eb0000 85%, #ff0f0f);
  background-image: -o-linear-gradient(#db0000, #eb0000 40%, #eb0000 85%, #ff0f0f);
  background-image: -ms-linear-gradient(#db0000, #eb0000 40%, #eb0000 85%, #ff0f0f);
  background-image: linear-gradient(#db0000, #eb0000 40%, #eb0000 85%, #ff0f0f);
  border-color: #940000;
  text-shadow: #610000 0px -1px -1px;
  -moz-box-shadow: #b30000 0 0.08em 0.2em 1px inset;
  -webkit-box-shadow: #b30000 0 0.08em 0.2em 1px inset;
  -o-box-shadow: #b30000 0 0.08em 0.2em 1px inset;
  box-shadow: #b30000 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
button.danger:active, button.danger:active:visited, input[type="submit"].danger:active, input[type="submit"].danger:active:visited, .button.danger:active, .button.danger:active:visited {
  color: white;
}
/* line 68, ../../app/stylesheets/common.sass */
button:hover, input[type="submit"]:hover, .button:hover {
  text-decoration: none;
}
/* line 70, ../../app/stylesheets/common.sass */
button.small, input[type="submit"].small, .button.small {
  font-size: 14px;
}

/* line 73, ../../app/stylesheets/common.sass */
#bars {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: 0;
  height: 10px;
  background: url("/images/coloured_bars.png");
}
/* line 78, ../../app/stylesheets/common.sass */
#bars.top {
  margin-left: 0;
  margin-right: 0;
}

/* line 81, ../../app/stylesheets/common.sass */
.clear {
  clear: both;
}

/* line 83, ../../app/stylesheets/common.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  content: ".";
  display: block;
  height: 0px;
  visibility: hidden;
}

/* line 90, ../../app/stylesheets/common.sass */
.bars_whole {
  width: 100%;
  height: 6px;
  background: url("/images/coloured_bars.png");
}

/* line 94, ../../app/stylesheets/common.sass */
.padded {
  padding: 0px 20px 15px;
}

/* line 98, ../../app/stylesheets/common.sass */
a.green {
  color: #419e36 !important;
}

/* line 100, ../../app/stylesheets/common.sass */
.sign_in_page {
  display: inline;
  float: left;
  margin-left: 10px;
  width: 940px;
  background-color: white;
}
