= content_for :email_title do
  Your My 5 subscription ends soon
= content_for :email_body do
  %p Hi #{@customer.first_name},

  %p This is an email letting you know that your subscription to My 5 will be expiring in X days.

=render "shared/mail_base"