.padded
	%h3 Welcome to My 5
	- if current_customer.free_trial_opted?
		%p
			Thanks for signing up to our
			%b free 10-day trial.
			At the end of 10 days, if you don't cancel, we'll bill your credit card for $#{Program.first.try(:price)}, a year's subscription to My 5. Enjoy!
	- else
		%p
			Thanks for signing up to our 1 year subscription. we'll bill your credit card for $#{Program.first.try(:price)},
			a year's subscription to My 5. Enjoy!

	%p
		= link_to 'Continue to My 5', my5_dashboard_customer_url