%div#logo= link_to image_tag("logo.png"), root_path
%div#smoothmenu.ddsmoothmenu
	%ul
		- Page.where(:show_in_menu => true).where("parent_id = 1").order("-custom_position DESC, id ASC").each do |p|
			%li
				= link_to p.title, page_path(p)
		%li
			= link_to "Sign In", new_customer_session_path, :class => "button"
			= link_to "Company Sign In", new_customer_session_path(:company_login => true), :class => "button"
#bars.top
