= stylesheet_link_tag 'common', :media => 'screen, projection' if include_common
= stylesheet_link_tag :head, params
= stylesheet_link_tag "refinery/ui.dropdownchecklist.standalone"

= yield :extra_stylesheets
