- content_for :extra_stylesheets do
    = stylesheet_link_tag "pages/home"

.container
    %h1.blue
        %span Are you looking for a new approach to the health and well being of your employees?

    %p.title
        %span Then
        %strong.blue My 5 Online
        %span might be just what you are looking for.

    %P
        %span.title.blue My 5 Online
        %span is a unique, sophisticated and interactive approach to workplace health and wellness.

    .image

    .key_benefits
        %strong.title.blue KEY BENEFITS
        %ul
            %li Reduced stress and postural aches and pains
            %li Better focus and enhanced efficiency
            %li Direct cost savings from reduced absenteeism
            %li Improved employee engagement with a healthier, happier workforce
            %li Increased bottom line and significant return on investment

    .clear
    %p Fill in the contact form below to find out more about the My5 Online Wellness Program or to organise a free trial.


