/* line 2, ../../../../app/stylesheets/my5/health_checkins/index.sass */
#recommended_exercises .column {
  width: 260px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}
/* line 9, ../../../../app/stylesheets/my5/health_checkins/index.sass */
#recommended_exercises .column h4 {
  color: #419e36;
  font-size: 16px;
  font-weight: bold;
}
/* line 15, ../../../../app/stylesheets/my5/health_checkins/index.sass */
#recommended_exercises .column li {
  margin-left: 0px;
}
/* line 18, ../../../../app/stylesheets/my5/health_checkins/index.sass */
#recommended_exercises .column ul li {
  list-style: none !important;
}
/* line 20, ../../../../app/stylesheets/my5/health_checkins/index.sass */
#recommended_exercises .column ul li > ul li {
  list-style: circle !important;
  margin-left: 15px;
}

/* line 24, ../../../../app/stylesheets/my5/health_checkins/index.sass */
#health-checkin-pagination {
  text-align: center;
  margin-top: 10px;
}
