/* line 7, ../../../app/stylesheets/my5/shared/header.sass */
#header_background {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 84px;
  width: 100%;
  background-color: grey;
}
/* line 15, ../../../app/stylesheets/my5/shared/header.sass */
#header_background #colour_strip {
  height: 5px;
  background: url("/images/coloured_bars.png") repeat-x;
}
/* line 18, ../../../app/stylesheets/my5/shared/header.sass */
#header_background #dark_gradient {
  height: 37px;
  background-color: black;
}
/* line 21, ../../../app/stylesheets/my5/shared/header.sass */
#header_background #grey_gradient {
  height: 36px;
  background-color: grey;
}

/* line 25, ../../../app/stylesheets/my5/shared/header.sass */
#header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  position: relative;
  z-index: 2;
  height: 78px;
  margin-top: 6px;
  line-height: 8px;
}
/* line 32, ../../../app/stylesheets/my5/shared/header.sass */
#header a {
  color: white;
  font-weight: bold;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header a:visited {
  color: white;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header a:focus {
  color: white;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header a:hover {
  color: white;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#header a:active {
  color: white;
}
/* line 35, ../../../app/stylesheets/my5/shared/header.sass */
#header #logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
  margin-left: 0;
  height: 36px;
  line-height: 36px;
}
/* line 40, ../../../app/stylesheets/my5/shared/header.sass */
#header #logo img {
  vertical-align: middle;
  height: 30px;
}
/* line 43, ../../../app/stylesheets/my5/shared/header.sass */
#header #actions {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
  margin-right: 0;
  height: 36px;
  line-height: 40px;
  color: #cccccc;
  text-align: right;
}
/* line 50, ../../../app/stylesheets/my5/shared/header.sass */
#header #actions a.management-reports {
  margin-right: 5px;
}
/* line 53, ../../../app/stylesheets/my5/shared/header.sass */
#header #actions img {
  height: 24px;
  vertical-align: middle;
  margin-top: -6px;
  margin-right: 5px;
}
/* line 59, ../../../app/stylesheets/my5/shared/header.sass */
#header #health_checkin {
  float: right;
<<<<<<< HEAD
  margin-right: 20px !important;
=======
  margin-right: 20px;
>>>>>>> #5: added new stylesheet for print
  background: url("/images/dashboard/green_tab.png") no-repeat;
  width: 156px;
}
/* line 64, ../../../app/stylesheets/my5/shared/header.sass */
#header #health_checkin img {
  margin-right: 5px;
  margin-top: -8px;
  vertical-align: middle;
}
/* line 69, ../../../app/stylesheets/my5/shared/header.sass */
#header .nav {
  height: 36px;
  width: 100%;
  line-height: 44px;
  padding-top: 5px;
}
/* line 74, ../../../app/stylesheets/my5/shared/header.sass */
#header .nav a {
  display: block;
  float: left;
  width: 135px;
  height: 37px !important;
  background: url("/images/dashboard/tab.png") no-repeat;
}
/* line 80, ../../../app/stylesheets/my5/shared/header.sass */
#header .nav a:hover {
  background-position: 0px -37px;
  color: #3e3e3e;
}
/* line 83, ../../../app/stylesheets/my5/shared/header.sass */
#header .nav a#home {
  width: 60px;
  height: 37px;
  background: url("/images/dashboard/home_tab.png") 0px -37px no-repeat !important;
  vertical-align: middle;
}
/* line 88, ../../../app/stylesheets/my5/shared/header.sass */
#header .nav a#home img {
  margin-top: 12px;
}
/* line 90, ../../../app/stylesheets/my5/shared/header.sass */
#header .nav a#home:hover {
  background-position: 0px 0px !important;
}
/* line 92, ../../../app/stylesheets/my5/shared/header.sass */
#header .nav#modules {
  width: 100%;
}

<<<<<<< HEAD
/* line 98, ../../../app/stylesheets/my5/shared/header.sass */
=======
/* line 101, ../../../app/stylesheets/my5/shared/header.sass */
>>>>>>> #5: added new stylesheet for print
#dashboard #header nav #home {
  background-position: 0px 0px !important;
}

<<<<<<< HEAD
/* line 101, ../../../app/stylesheets/my5/shared/header.sass */
=======
/* line 104, ../../../app/stylesheets/my5/shared/header.sass */
>>>>>>> #5: added new stylesheet for print
#symptomatics #symptomatics_link, .symptomatic_video #symptomatics_link {
  background-position: 0px -37px !important;
  color: #3e3e3e !important;
}

<<<<<<< HEAD
/* line 104, ../../../app/stylesheets/my5/shared/header.sass */
=======
/* line 107, ../../../app/stylesheets/my5/shared/header.sass */
>>>>>>> #5: added new stylesheet for print
#my_eqs #my_eq_link {
  background-position: 0px -37px !important;
  color: #3e3e3e !important;
}

<<<<<<< HEAD
/* line 107, ../../../app/stylesheets/my5/shared/header.sass */
=======
/* line 110, ../../../app/stylesheets/my5/shared/header.sass */
>>>>>>> #5: added new stylesheet for print
#mini_modules #mini_modules_link {
  background-position: 0px -37px !important;
  color: #3e3e3e !important;
}

<<<<<<< HEAD
/* line 110, ../../../app/stylesheets/my5/shared/header.sass */
=======
/* line 113, ../../../app/stylesheets/my5/shared/header.sass */
>>>>>>> #5: added new stylesheet for print
#audio_programs #audio_programs_link {
  background-position: 0px -37px !important;
  color: #3e3e3e !important;
}

/* line 5, ../../../app/stylesheets/my5/base.sass */
.content {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  background: white;
  padding-top: 10px;
}

/* line 10, ../../../app/stylesheets/my5/base.sass */
.leftbar {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  padding-top: 50px;
  background: white url("/images/pages/features/leftbar.png") top right no-repeat;
  min-height: 520px;
  margin-left: 0;
}
/* line 8, ../../../app/stylesheets/shared/leftbar.sass */
.leftbar li {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  line-height: 55px;
  border-top: 1px solid #bbbbbb;
}
/* line 16, ../../../app/stylesheets/shared/leftbar.sass */
.leftbar li a {
  color: #3e3e3e;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.leftbar li a:visited {
  color: #3e3e3e;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.leftbar li a:focus {
  color: #3e3e3e;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.leftbar li a:hover {
  color: #3e3e3e;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.leftbar li a:active {
  color: #3e3e3e;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
.leftbar li a:active, .leftbar li a:focus {
  outline: none;
}
/* line 19, ../../../app/stylesheets/shared/leftbar.sass */
.leftbar li .img {
  background: url("/images/logo_pinwheel_small.png") 0px -24px no-repeat;
  margin-left: -20px;
  margin-top: -5px;
  margin-right: 5px;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
/* line 29, ../../../app/stylesheets/shared/leftbar.sass */
.leftbar li:hover, .leftbar li.selected {
  background: white;
}
/* line 31, ../../../app/stylesheets/shared/leftbar.sass */
.leftbar li:hover .img, .leftbar li.selected .img {
  background-position: 0px 0px;
}

/* line 14, ../../../app/stylesheets/my5/base.sass */
.content_right {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-left: 0;
  margin-right: 0;
}
/* line 18, ../../../app/stylesheets/my5/base.sass */
.content_right .padded {
  padding-top: 15px;
}

/* line 22, ../../../app/stylesheets/my5/base.sass */
.content_left {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 580px;
  margin-left: 0;
}

/* line 26, ../../../app/stylesheets/my5/base.sass */
.infobar_right {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
  margin-right: 0;
}

/* line 30, ../../../app/stylesheets/my5/base.sass */
.module_image_left {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  margin-left: 0;
}

/* line 35, ../../../app/stylesheets/my5/base.sass */
.module_selection_right {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
  padding-right: 40px;
  margin-right: 0;
}
/* line 39, ../../../app/stylesheets/my5/base.sass */
.module_selection_right h1 {
  margin-bottom: 0px;
}
/* line 41, ../../../app/stylesheets/my5/base.sass */
.module_selection_right p.select {
  font-size: 14pt;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}
/* line 48, ../../../app/stylesheets/my5/base.sass */
.module_selection_right a {
  color: dimgrey;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.module_selection_right a:visited {
  color: dimgrey;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.module_selection_right a:focus {
  color: dimgrey;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.module_selection_right a:hover {
  color: dimgrey;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.module_selection_right a:active {
  color: dimgrey;
}
/* line 50, ../../../app/stylesheets/my5/base.sass */
.module_selection_right li {
  list-style: none !important;
  margin-left: 0 !important;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
  font-size: 1.4em;
}
/* line 57, ../../../app/stylesheets/my5/base.sass */
.module_selection_right li img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
/* line 61, ../../../app/stylesheets/my5/base.sass */
.module_selection_right li p {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 28px;
  font-size: 0.8em;
}

/* line 68, ../../../app/stylesheets/my5/base.sass */
.video_header {
  padding-bottom: 10px;
}
/* line 71, ../../../app/stylesheets/my5/base.sass */
.video_header h1 {
  font-size: 28px;
  line-height: 38px;
  margin: 0px 0;
}
/* line 75, ../../../app/stylesheets/my5/base.sass */
.video_header a {
  color: #3e3e3e;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.video_header a:visited {
  color: #3e3e3e;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.video_header a:focus {
  color: #3e3e3e;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.video_header a:hover {
  color: #888888;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.video_header a:active {
  color: #3e3e3e;
}
/* line 77, ../../../app/stylesheets/my5/base.sass */
.video_header a img {
  margin-right: 5px;
}

/* line 80, ../../../app/stylesheets/my5/base.sass */
.video {
  position: relative;
}
/* line 82, ../../../app/stylesheets/my5/base.sass */
.video iframe {
  width: 100%;
  height: 400px;
}

/* line 88, ../../../app/stylesheets/my5/base.sass */
.leftbar li {
  line-height: 10px !important;
  padding: 15px 0 15px 40px;
}
/* line 91, ../../../app/stylesheets/my5/base.sass */
.leftbar li .img {
  margin-top: 1px !important;
  margin-right: 12px;
  float: left;
}
/* line 96, ../../../app/stylesheets/my5/base.sass */
.leftbar li a {
  line-height: 25px;
  display: inline-block;
  width: 85%;
}

/* line 101, ../../../app/stylesheets/my5/base.sass */
#audio_programs.show .content, #audio_programs.show_audio .content, #my_eqs .content, #mini_modules.show .content, #mini_modules.show_video .content {
  padding-top: 0 !important;
  background: white;
}

/* line 5, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -moz-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -o-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: -ms-linear-gradient(top, #ffffff, #e8e8e8);
  background-image: linear-gradient(top, #ffffff, #e8e8e8);
}
/* line 12, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 2px;
  list-style: none;
  float: left;
  text-align: center;
}
/* line 20, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro li.first {
  padding-left: 20px;
  margin-left: 0;
}
/* line 24, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro li.last {
  margin-right: 0;
}
/* line 26, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro li a {
  display: block;
  margin-left: 7px;
  width: 161px;
  height: 161px;
  padding: 21px;
  background: url("/images/dashboard/round_button.png") no-repeat;
}
/* line 33, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro li a:hover {
  background-position: 0px -203px;
}
/* line 36, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro li#symptomatics h2 {
  color: #ff4c3c;
}
/* line 39, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro li#mini h2 {
  color: #419e36;
}
/* line 42, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro li#eq h2 {
  color: #76c0f0;
}
/* line 45, ../../../app/stylesheets/my5/dashboard/base.sass */
.nav#intro li#audio h2 {
  color: #d67336;
}

/* line 48, ../../../app/stylesheets/my5/dashboard/base.sass */
#personal {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;
  margin-left: 0;
  margin-top: 20px;
}
/* line 53, ../../../app/stylesheets/my5/dashboard/base.sass */
#personal p {
  font-size: 1.2em;
}
/* line 55, ../../../app/stylesheets/my5/dashboard/base.sass */
#personal a {
  display: block;
}
/* line 57, ../../../app/stylesheets/my5/dashboard/base.sass */
#personal a img {
  margin-right: 5px;
}
/* line 59, ../../../app/stylesheets/my5/dashboard/base.sass */
#personal li, #personal a {
  border-top: 1px solid #cccccc;
  padding: 10px 0;
  font-size: 1.2em;
}
/* line 63, ../../../app/stylesheets/my5/dashboard/base.sass */
#personal li img, #personal a img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/* line 68, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
  margin-right: 0;
  margin-top: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -moz-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -o-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -ms-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: linear-gradient(top, #e8e8e8, #ffffff);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 74, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips h3, #quick-tips h2, #quick-tips li {
  padding: 0px 20px;
  margin-bottom: 10px;
}
/* line 77, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0 !important;
}
/* line 83, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .naturally {
  color: #3a9b2e;
  margin-left: 20px;
}
/* line 86, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .eat_think_move {
  margin-bottom: 20px;
  margin-left: 20px;
  color: #3a9b2e;
}
/* line 90, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .eat_think_move .block {
  float: left;
  margin-right: 8px;
  padding-right: 30px;
  background: url("/images/blog/logo_naturally.png") no-repeat 100% 0;
}
/* line 95, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .eat_think_move .block strong {
  font-weight: bold;
}
/* line 97, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .eat_think_move .naturally {
  margin-left: 0px;
}
/* line 100, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .title {
  margin-top: 0;
}
/* line 102, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .title h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 105, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .body {
  margin-left: 20px;
}
/* line 107, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .body p {
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 110, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .link {
  color: #3a9b2e;
  text-transform: uppercase;
  margin-left: 20px;
}
/* line 113, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .link > a {
  color: #3a9b2e;
}
/* line 116, ../../../app/stylesheets/my5/dashboard/base.sass */
#quick-tips .link:before {
  content: "|";
  margin-right: 4px;
}
