defaults: &defaults
  adapter: mysql2
  encoding: utf8

development:
  adapter: mysql2
  database: my5_developments

test: &test
  database: my5_test
  <<: *defaults

staging:
  database: staging
  <<: *defaults

production:
  adapter: mysql2
  database: my5_developments
