/* line 3, ../../../../app/stylesheets/my5/symptomatics/index.sass */
#select {
  padding-top: 120px;
}
/* line 5, ../../../../app/stylesheets/my5/symptomatics/index.sass */
#select h2 {
  font-size: 16px !important;
  clear: none !important;
}
/* line 8, ../../../../app/stylesheets/my5/symptomatics/index.sass */
#select img {
  float: left;
  margin-top: 22px;
  margin-right: 15px;
}
