/* line 3, ../../../app/stylesheets/devise/sessions/new.sass */
#new, #create, #confirm_details, #confirmed_sign_up, #edit {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  background: white;
}

/* line 7, ../../../app/stylesheets/devise/sessions/new.sass */
#new a, #create a {
  color: #3e3e3e;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#new a:visited, #create a:visited {
  color: #3e3e3e;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#new a:focus, #create a:focus {
  color: #3e3e3e;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#new a:hover, #create a:hover {
  color: #3e3e3e;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#new a:active, #create a:active {
  color: #3e3e3e;
}

/* line 3, ../../../app/stylesheets/customer_registrations/base.sass */
form.formtastic fieldset ol li.inline {
  float: left;
  clear: none;
}

/* line 8, ../../../app/stylesheets/customer_registrations/base.sass */
#customer_credit_card_expiry_year_input label {
  width: 51px;
}

/* line 11, ../../../app/stylesheets/customer_registrations/base.sass */
#customer_accept_terms_input {
  margin-top: 20px;
}
/* line 14, ../../../app/stylesheets/customer_registrations/base.sass */
#customer_accept_terms_input label {
  margin-bottom: 20px;
  width: 100% !important;
}
